@media screen and (min-width:300px) and (max-width:720px){
.head{
    margin:5px;
    font-size: 15px;
    flex-direction: column;
}
.filter{
    margin-left: 0px;
    flex-direction: column;
    padding:0px
}
}